html {
  font-size: 16px;
  background-color: #223;
}

.app {
  text-align: center;
  color: #fff;
}

.header {
  padding: 20px 0;
}

.gallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em;

  font-size: 1.2em;
}

.gallery-item {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.gallery-item p {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #333a;
}

.gallery-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.image-modal {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  padding: 2em;
  box-sizing: border-box;
  background-color: #000d;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
}

.modal-close {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.image-controls {
  display: flex;
  justify-content: center;
}

.input-text {
  width: 220px;
  margin: 0 20px;
}

.button-delete {
  border: 0;
  padding: 3px 20px;
  background-color: #f00;
  color: #fff;
}

.hidden {
  display: none;
}